/***************************
MARGINS
***************************/
.CF-no-margin {
	margin: 0;
}

body
{
	background-color: #82CDE8;
}

/***************************
ALIGNMENT
***************************/
.CF-center-aligned-text {
	text-align: center;
}

/***************************
COLORS
***************************/
.CF-white-color {
	color: white;
}

/***************************
LOGO SECTION
***************************/
#CF-title-section {
	background-color: #2F9CBF;
	width: 100%;
	height: 100px;
	text-align: left;
	box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.5);
	position: absolute;
}
.CF-container {
	max-width: 960px;

	margin: 0 auto;
	}
.mainContainer{
	position: relative;
}

#CF-page {
	background: #D3E7E8;
	position: absolute;
	top:12%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding-top: 30px;
	padding-bottom: 20px;
	}
#CF-PatratRosu{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

/***************************
TEMPLATE IMAGE SECTION
***************************/
.CF-template-can-images {
	display: flex;
	margin-top: 40px;
	margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/***************************
THUMBNAIL SECTION
***************************/
.thumbnail{
	display: inline-block;
	position: relative;
}
.thumbnail img{
	height:125px;
	width:125px;
	border:1px solid;
	border-color:gray;
	border-radius:10px;
}
.thumbnail figcaption{
	height: 38px;
	width:125px;
	text-align: center;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnail a{
	text-decoration: none;
}


/***************************
PRODUCTS RESULTS SECTION
***************************/
#CF-PDF{
	font-family: Ostrich Sans;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background: #ff0000;
	padding: 5px;
	border-radius: 10px;
	float:right;
}
#CF-search-results{
	display: block;
	margin-left: 58px;
	margin-right: auto;
}
#CF-search-results-text{
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	font-family:georgia,helvetica,arial,comic sans ms;
	font-size: 40px;
	color: #13404e;
}
#CF-search-results-text input[type=text]{
	margin-top: 20px;
	margin-right: 20px;
	width:100px;
	transition: width 0.4s ease-in-out;
}
#CF-search-results-text input[type=text]:focus{
	width:100%;
}
