body
{
	background-color: #82CDE8;
}

/***************************
LOGO SECTION
***************************/
#CF-title-section {
	background-color: #2F9CBF;
	width: 100%;
	height: 100;
	text-align: left;
	box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.5);
	position: absolute;
}
.CF-container {
	width: 960px;

	margin: 0 auto;
	}
.mainContainer{
	position: relative;
}

#CF-page {
	background: #D3E7E8;
	position: absolute;
	top:12%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
	}
#CF-PatratRosu{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}




/***************************
CAN TEMPLATE PAGE
***************************/
/* ALIGNMENT */
.CF-center-aligned-text {
	text-align: center;
}
.CF-right-aligned-text {
	text-align: right;
}
/* COLORS */
.CF-white-color {
	color: white;
}
.CF-darkblue-color {
	color: #13404e;
}
/* CONTAINER */
#CF-can-template .CF-template-container {
	max-width: 960px;
	margin: 0 auto;
}
/* FONT FAMILIES */
.CF-helvetica-font {
	font-family: helvetica;
}
/* MARGINS */
.CF-no-margin {
	margin: 0;
}


/* LOGO SECTION */
#CF-can-template #CF-logo-section {
	background-color: #2F9CBF;
	width: 100%;
	height: 100;
	box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.5) !important;
	position: relative;
}
/* CAN SECTION */
#CF-can-template #CF-can-section {
	background: #D3E7E8;
	padding-top: 30px;
	padding-bottom: 20px;
}
/* CAN IMAGE */
#CF-can-template #CF-can-image img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #1e6379;
    background-color: white;
}
/* CAN DETAILS TABLE */
#CF-can-template .CF-can-details-table table {
	width: 90%;
	margin: 0 auto;
}
#CF-can-template .CF-can-details-table th {
	padding: 10px;
}
#CF-can-template .CF-can-details-table th:nth-child(odd) {
	text-align: right;
	background-color: #8ac32c;
}
#CF-can-template .CF-can-details-table th:nth-child(even) {
	text-align: left;
	background-color: #ffce4f;
}
